<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="header__logo__container" [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
      <img [src]="pathLogo" alt="logo" class="header__logo">
    </div>
    <div *ngIf="isAuth">
      <button mat-button type="button" (click)="logout()">
        {{ 'header.button.logout' | translate }}
      </button>
      <button mat-button type="button" (click)="toggleSidenav()">
        Sidenav
      </button>
    </div>
    <div *ngIf="!isAuth">
      <a mat-button type="button" [routerLink]="['/login']" routerLinkActive="router-link-active">
        {{ 'header.button.login' | translate }}
      </a>
      <a mat-button typer="button" [routerLink]="['/register']" routerLinkActive="router-link-active">
        {{ 'header.button.register' | translate }}
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div>
