<div class="register">
  <mat-card>

    <mat-card-header>
      <mat-card-title>
        <span>{{ 'accessControl.register.title' | translate }}</span>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content [formGroup]="registerForm">

      <div *ngIf="registerError">
        Register Error
      </div>

      <div *ngIf="loading">
        loading
      </div>

      <!-- EMAIL FIELD -->
      <mat-form-field>
        <mat-label>{{ 'accessControl.register.form.email.label' | translate }}</mat-label>
        <input matInput type="email" name="email" id="email" formControlName="email">
        <mat-error *ngIf="email.hasError('required')">
          {{ 'form.requiredError' | translate }}
        </mat-error>
        <mat-error *ngIf="email.hasError('email')">
          {{ 'form.emailError' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- PASSWORD FIELD -->
      <mat-form-field>
        <mat-label>{{ 'accessControl.register.form.password.label' | translate }}</mat-label>
        <input matInput type="password" name="password" id="password" formControlName="password">
        <mat-error *ngIf="password.hasError('required')">
          {{ 'form.requiredError' | translate }}
        </mat-error>
        <mat-error *ngIf="password.hasError('minlength')">
          {{ 'accessControl.register.password.minlenght' | translate}}
        </mat-error>
      </mat-form-field>

      <!-- SUBMIT FORM BUTTONS -->
      <div class="register__button-container">
        <button mat-raised-button color="primary" type="submit">{{ 'accessControl.register.submit' | translate }}
        </button>
      </div>

    </mat-card-content>
  </mat-card>
</div>
