<div class="register">
  <h2>{{ 'accessControl.register.title' | translate }}</h2>

  <div *ngIf="registerError">
    Register Error
  </div>

  <div *ngIf="loading">
    loading
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <!-- EMAIL FIELD -->
        <mat-form-field>
          <mat-label>{{ 'accessControl.register.form.email.label' | translate }}</mat-label>
          <input matInput type="email" name="email" id="email" formControlName="email">
          <mat-error *ngIf="email.hasError('required')">
            {{ 'form.requiredError' | translate }}
          </mat-error>
          <mat-error *ngIf="email.hasError('email')">
            {{ 'form.emailError' | translate }}
          </mat-error>
        </mat-form-field>

    <!-- PASSWORD FIELD -->
        <mat-form-field>
          <mat-label>{{ 'accessControl.register.form.password.label' | translate }}</mat-label>
          <input matInput type="password" name="password" id="password" formControlName="password">
          <mat-error *ngIf="password.hasError('required')">
            {{ 'form.requiredError' | translate }}
          </mat-error>
          <mat-error *ngIf="password.hasError('minlength')">
            {{ 'accessControl.register.password.minlenght' | translate}}
          </mat-error>
        </mat-form-field>

    <!-- SUBMIT FORM BUTTONS -->
        <div class="register__button-container">
          <button mat-raised-button color="primary" type="submit">{{ 'accessControl.register.submit' | translate }}
          </button>
        </div>

  </form>
</div>
