<div class="profile-edit" [formGroup]="profileInfoForm">
  <!-- PERSONAL -->
<mat-card class="profile-edit__card">
  <mat-card-header>
    <mat-card-title>
      <span>Personal</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-form-field>
      <mat-label>{{ 'Name' | translate }}</mat-label>
      <input matInput type="text" name="name" id="name" formControlName="name" tabindex="0">
    </mat-form-field>

     <mat-form-field>
      <mat-label>{{ 'Surname1' | translate }}</mat-label>
      <input matInput type="text" name="surname1" id="surname1" formControlName="surname1" tabindex="0">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'Surname2' | translate }}</mat-label>
      <input matInput type="text" name="surname2" id="surname2" formControlName="surname2" tabindex="0">
    </mat-form-field>

  </mat-card-content>
</mat-card>



<!-- PERSONAL -->
<mat-card class="profile-edit__card">
  <mat-card-header>
    <mat-card-title>
      <span>Personal</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    content
  </mat-card-content>
</mat-card>



<!-- CONTACT -->
<mat-card class="profile-edit__card">
  <mat-card-header>
    <mat-card-title>
      <span>Contact</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    content
  </mat-card-content>
</mat-card>



<!-- EDUCATION -->
<mat-card class="profile-edit__card">
  <mat-card-header>
    <mat-card-title>
      <span>Education</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    content
  </mat-card-content>
</mat-card>



<!-- EXPERIENCE -->
<mat-card class="profile-edit__card">
  <mat-card-header>
    <mat-card-title>
      <span>Experiene</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    content
  </mat-card-content>
</mat-card>

</div>