<div class="container login">
  <mat-card [formGroup]="loginForm" (keydown.enter)="submitForm()">
    <mat-card-header>
      <mat-card-title>
        <span>{{ 'accessControl.login.title' | translate }}</span>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <!-- EMAIL FIELD -->
      <mat-form-field>
        <mat-label>{{ 'accessControl.login.form.email.label' | translate }}</mat-label>
        <input matInput type="email" name="email" id="email" formControlName="email" tabindex="0">
        <mat-error *ngIf="email.hasError('required')">
          {{ 'form.requiredError' | translate }}
        </mat-error>
        <mat-error *ngIf="email.hasError('email')">
          {{ 'form.emailError' | translate }}
        </mat-error>
      </mat-form-field>

      <!-- PASSWORD FIELD -->
      <mat-form-field>
        <mat-label>{{ 'accessControl.login.form.password.label' | translate }}</mat-label>
        <input matInput type="password" name="password" id="password" formControlName="password">
        <mat-error *ngIf="password.hasError('required')">
          {{ 'form.requiredError' | translate }}
        </mat-error>
        <mat-error *ngIf="password.hasError('minlength')">
          {{ 'accessControl.login.password.minlenght' | translate}}
        </mat-error>
      </mat-form-field>

    </mat-card-content>



    <!-- SUBMIT FORM BUTTONS -->
    <mat-card-actions>
      <div class="login__button-container">
        <button mat-raised-button color="primary" (click)="submitForm()">
          {{ 'accessControl.login.submit' | translate }}
        </button>
      </div>
    </mat-card-actions>

    <mat-card-footer>
      <div *ngIf="registerError" class="login__error">
        {{ errorMessage }}
      </div>
      <div *ngIf="loading">
        <app-spinner></app-spinner>
      </div>
    </mat-card-footer>

  </mat-card>
</div>
